/*
* date:2019/6/25/15:30;
* name:代超
*
* */
.news2Box{
    width: 100%;
    height: 1rem;
    font-size: 0.15rem;
    background: #eeeeee;
    animation-duration: 2s;
    animation-delay: 0s
}
.news-box{
    padding: 15px;
    animation-duration: 2s;
    animation-delay: 0s
}
.clear{
    width: 100%;
    height: 0.1rem;
    animation-duration: 2s;
    animation-delay: 0s
}
.rich_media_title {
    font-size: 22px;
    line-height: 1.4;
    margin: 20px;
    animation-duration: 2s;
    animation-delay: 0s
}
.pushtime{
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: center;
    width: 100%;
    color: rgba(0,0,0,0.3);
    animation-duration: 2s;
    animation-delay: 0s
}

.imgd{
    padding:10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 20px 2px 20px 2px;
    /*border: 1px #ba291f solid;*/
    border: 1px solid #e3e6fc;
    background: #e8fae9a1;
    animation-duration: 2s;
    animation-delay: 0s
}

.briefNews{
    margin: 20px 0;
    padding: 15px 5px;
    max-width: 100%;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
    background-color: #d53c3c;
    border-radius: 5px;
    animation-duration: 2s;
    animation-delay: 0s
}

.introTop{
    text-indent: 14px;
    widows: 1;
    font-size: 1.8em;
    text-align: left;
    font-family: 宋体;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    animation-duration: 2s;
    animation-delay: 0s
}

.introBott{
    font-size: 18px;
    line-height: 30px;
    padding: 15px;
    margin: 10px auto;
    text-align: left;
    /*background-color: #d53c3c;*/
    border-radius: 3px;
    font-weight: 400;
    color:rgb(51, 51, 51);
    animation-duration: 2s;
    animation-delay: 0s
}

.introBottC{
    font-size: 18px;
    line-height: 30px;
    padding: 15px;
    margin: 10px auto;
    text-align: left;
    background-color: #d53c3c;
    border-radius: 3px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    animation-duration: 2s;
    animation-delay: 0s
}


